* {
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: inter;
    background: url('../../Assets/img/Header-Gradient.svg') top center no-repeat,
    url('../../Assets/img/Footer-Gradient.svg') bottom center no-repeat, var(--BG-dark);
    background-size: 100% auto, 100% auto;
    background-attachment: scroll;
    color: var(--dark-gray);
}

.conteiner {
    max-width: 1440px;
    padding-inline: 48px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}