.stack-formacao {
    display: flex;
    justify-content: space-between;

    & .stack {
        width: calc(50% - 70px);
        display: flex;
        flex-direction: column;
        gap: 16px;

        & h2 {
                font: var(--h2);
                margin-bottom: 32px;
            }
        
        & .stack-card {
            background: var(--onyx);
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
            border-radius: 24px;
            text-align: center;
            position: relative;
            overflow: hidden;

            & .stack-card-content {
                display: flex;
                flex-direction: column;
                gap: 16px;
                padding: 60px 0 0 0;

                & h3 {
                font: var(--h3);
                color: white;
                }

                & p {
                    font: var(tR2);
                    margin-bottom: 40px;
                }
            }
            & img {
                    width: 160%;
                    position: relative;
                    left: 50%;
                    bottom: -50px;
                    transform: translate(-50%);
                }
        }

        & .cta-vm {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            background: var(--onyx);
            box-shadow: 0px 7px 4px rgba(0, 0, 0, 0.15), inset 0px 1px 2px rgba(255, 255, 255, 0.02), inset 0px 2px 4px rgba(255, 255, 255, 0.08);
            border-radius: 16px;
            transition: scale .5s ease;

            &:hover {
                scale: 1.01;
            }

            & a {
                padding: 16px;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                width: 100%;
                font: var(--tM2);
                color: white;
            }
        }
    }

    & a {
        width: calc(50% - 70px);
        

        & .formacao {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
        height: 100%;

        & h2 {
            font: var(--h2);
            margin-bottom: 32px;
        }

        & .formacao-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16px;
            padding: 60px 60px 0 60px;
            background: var(--onyx);
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
            border-radius: 24px;
            position: relative;
            overflow: hidden;
            height: 100%;

            & h3 {
                font: var(--h3);
            }

            & ul {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 40px;

                & li {
                    display: flex;
                    flex-direction: column;
                    gap: 6px;
                    & p:nth-child(1) {
                        font: var(--tM2);
                        color: white;
                    }

                    & p:nth-child(2) {
                        font: var(--tR2);
                    }
                }

                & li:nth-child(1) {
                    text-align: left;
                }

                & li:nth-child(2) {
                    text-align: right;
                }
                
                & li:nth-child(3) {
                    text-align: left;
                }
            }

            & img {
                position: absolute;
                bottom: 0px;
            }
        }
    }
    }

    
}


