body.light {

    footer {

        & .lft {

            & p {
                color: var(--onyx);
            }
        }

        & p {
            color: var(--onyx);
        }

        & .rgt {

            & ul {

                & li {
                    color: var(--onyx);
                }

                & li:nth-child(1) {
                    color: var(--onyx);
                }
            }
        }
        
    }
}

footer {
    padding: 100px 48px;
    display: flex;
    justify-content: space-between;

    & .lft {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 16px;

        & img {
            width: 128px;
        }

        & p {
            font: var(--h6);
        }
    }

    & p {
        display: flex;
        align-items: end; 
        font: var(--tR3);
        font-style: italic;
        color: var(--ligth-gray);
    }

    & .rgt {
        display: flex;
        gap: 5vw;

        & ul {
            display: flex;
            flex-direction: column;
            gap: 16px;

            & li {
                color: var(--ligth-gray);
            }

            & li:nth-child(1) {
                font: var(--h5);
                color: white;
                margin-bottom: 16px;
            }
        }
    } 
}

@media (max-width: 864px) {
    footer {
        padding: 50px 12px 124px ;
        flex-direction: column;
        gap: 32px;

        & p {
            order: 3;
        }

        & .rgt {
            justify-content: space-between;

            & ul {
                width: 100%;
            }
        } 
    }
}