*, *::before, *::after {
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    transition: color .3s ease, background .4s ease, border .4s ease;
}

.light {
    font-family: inter;
    background: url('../../Assets/img/Header-Gradient.svg') top center no-repeat,
    url('../../Assets/img/Footer-Gradient.svg') bottom center no-repeat, var(--BG-ligth);
    background-size: 100% auto, 100% auto;
    background-attachment: scroll;
    color: var(--dark-gray);

    & span {
    color: var(--onyx);
    }
}



body {
    font-family: inter;
    background: url('../../Assets/img/Header-Gradient.svg') top center no-repeat,
    url('../../Assets/img/Footer-Gradient.svg') bottom center no-repeat, var(--BG-dark);
    background-size: 100% auto, 100% auto;
    background-attachment: scroll;
    color: var(--dark-gray);
}

.conteiner {
    max-width: 1440px;
    padding-inline: 48px;
    margin: 0px auto;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

span {
    color: white;
}

.btn {
    background: linear-gradient(180deg, #1A1A1A 0%, #131313 100%);
    box-shadow: 0px 7px 4px rgba(0, 0, 0, 0.15), inset 0px 1px 2px rgba(255, 255, 255, 0.02), inset 0px 2px 4px rgba(255, 255, 255, 0.08);
    border-radius: 9px;
    color: white;
    transition: scale 0.4s ease, color 0.3s ease;
}