body.light {

    & .header-margin{
        
        &  header {
            background: rgba(255, 255, 255, 0.3);
            border: 1px solid white;

            & .lft {

                & .line {
                    background: var(--onyx);
                }

                & ul {

                    & li {
                        color: var(--onyx);

                        & a::before {
                            background: var(--onyx);
                        }
                    }
                }
            }

            & .rgt {

                & .line {
                    color: var(--onyx);
                }

                & ul {

                    & li {
                        color: var(--ligth-gray);

                        & i {
                            color: rgb(24, 24, 24, .5);

                            &:hover {
                                color: var(--onyx);
                            }
                        }
                    }

                    & .tema {

                        & i:hover {
                            text-shadow: 
                            0 0 24px  rgba(0, 0, 0, 0.6),
                            0 0 12px rgba(0, 0, 0, 0.4);
                        }
                    }
                }
            }
        }
    }

    
}

.header-margin {
    padding: 0 44px;  
    max-width: 1024px;  
    width: 100%;
    position: absolute;
    z-index: 11;
    right: 50%;
    transform: translateX(50%);

    & header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: rgb(24, 24, 29, 0.3);
        border: 1px solid rgba(24, 24, 29, 0) ;
        width: 100%;
        margin: 24px auto;
        padding: 18px 16px;
        border-radius: 10px;



        & .lft {
            display: flex;
            align-items: center;
            gap: 40px;

            & .line {
                height: 20px;
                width: 1px;
                background: var(--dark-gray);
            }

            & ul {
                display: flex;
                align-items: center;
                gap: 40px;

                & li {
                    font: var(--h5);
                    color: var(--ligth-gray);

                    & a {
                        position: relative;
                    }

                    & a::before {
                        content: "";
                        position: absolute;
                        bottom: -5px;
                        left: 0;
                        width: 0%;
                        height: 2px;
                        background: var(--ligth-gray);
                        transition: all .5s ease;
                    }

                    & a:hover::before {
                        width: 100%;
                    }

                    & i {
                        font-size: 1.5rem;
                        color: var(--ligth-gray);
                        cursor: pointer;
                        transition: all 0.5s ;
                    }
                }
            }
        }

        & .rgt {
            display: flex;
            align-items: center;
            gap: 40px;

            & .line {
                height: 20px;
                width: 1px;
                background: var(--dark-gray);
            }

            & ul {
                display: flex;
                align-items: center;
                gap: 15px;

                & li {
                    font: var(--h5);
                    color: var(--ligth-gray);



                    & i {
                        font-size: 1.5rem;
                        color: var(--ligth-gray);
                        cursor: pointer;
                        transition: all 0.3s ;
                    }
                }

                & .tema {
                    width: 24px;
                    display: flex;
                    align-items: center;
                    justify-content: center;


                    & i:hover {
                        text-shadow: 
                        0 0 6px rgba(255, 255, 255, 0.6),
                        0 0 12px rgba(255, 255, 255, 0.4);
                    }
                }
            }
        }
    }
}

.header-margin-mob {
    display: none;
}

.logo-mobile {
    display: none;
}

.tema.mobile {
    display: none;
}

@media (max-width: 816px) {

    .header-margin {
        display: none;
    }

    .logo-mobile {
        display: block;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: 22px;
        width: 13%;
    }

    .tema.mobile {
        position: fixed;
        width: 52px;
        height: 52px;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 15px;
        top: 15px;
        z-index: 11;
        border-radius: 50%;
        background: rgba(24, 24, 29, 0.6);      
        backdrop-filter: blur(2px);

        & i {
            font-size: 2rem;
            color: white;
        }
    }


    .header-margin-mob {
        display: block;
        padding: 0 16px;
        margin: 0 auto;
        max-width: 800px;
        width: 100%;
        position: fixed;
        z-index: 11;
        bottom: 32px;
        left: 50%;
        transform: translateX(-50%);
        
        & header {
            width: 100%;
            border-radius: 12px;
            border: 1px solid rgba(39, 38, 44, 0.38);
            background: rgba(24, 24, 29, 0.6);      
            backdrop-filter: blur(2px);

            & nav {
                width: 100%;
                

                & ul {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content:space-between;

                    & li {
                        padding: 20px 16px;
                        display: flex;
                        align-items: center;

                        & i {
                            font-size: 2rem;
                            color: white;
                        }
                    }
                }
            }
        }
    }
}







