body.light {
    
    .projetos {

        & .pjt-card {
            background: var(--ligth-gray);
            border: 1px solid var(--medium-gray);

            & .pjt-card-content {
                
                & h3 {
                    color: var(--onyx);
                }

                & .pjt-card-stack {

                    & div { 
                        background: #151515;
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 1px 2px rgba(255, 255, 255, 0.02), inset 0px 1px 4px rgba(255, 255, 255, 0.08);
                    }
                }

                & .pjt-card-links {

                    & i:hover {
                        color: var(--onyx);
                    }
                }
            }
        }   
    }
}

.projetos {
    padding: 100px 48px 0 48px;
    
    & h2 {
        font: var(--h2);
        margin-bottom: 100px;
    }

    & .pjt-card {
        background: var(--onyx);
        border-radius: 32px;
        border: 1px solid #383737;
        padding: 0px 0px 0px 60px;
        margin: 0 auto 100px auto;
        width: 1024px;
        height: 568px;
        overflow: hidden;
        display: flex;
        align-items: center;
        position: relative;

        & .pjt-card-content {
            display: flex;
            flex-direction: column;
            gap: 30px;
            
            & h3 {
                font: var(--h3);
                color: white;
            }

            & p {
                font: var(--tR2);
            }

            & .pjt-card-stack {
                display: flex;
                gap: 26px;

                & div { 
                    width: 56px;
                    height: 56px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: #151515;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 1px 2px rgba(255, 255, 255, 0.02), inset 0px 1px 4px rgba(255, 255, 255, 0.08);
                    border-radius: 8px;

                    & img {
                        width: 60%;
                    }
                }
            }

            & .pjt-card-links {
                display: flex;
                align-items: center;
                gap: 16px;

                & i {
                    font-size: 1.5rem;
                    transition: color .3s ease;
                }

                & i:hover {
                    color: white;
                }
            }
        }

        & .mockup {
            position: relative;
            right: 0;
        }
    }   
}

@media (max-width: 1128px) {

    .projetos {

        & .pjt-card {
            flex-direction: column;
            justify-content: space-between;
            padding: 50px 50px 30px;
            margin: 0 auto 100px auto;
            width: 100%;
            max-width: 824px;
            height: 724px;

            & .mockup {
                left: 50%;
                transform: translateX(-50%);
                width: 70%;
            }   
        }   
    }
}  

@media (max-width: 872px) {
    .projetos {

        & .pjt-card {
            flex-direction: column;
            justify-content: space-between;
            padding: 50px 50px 30px;
            margin: 0 auto 100px auto;
            width: 100%;
            max-width: 824px;
            height: min-content;

            & .mockup {
                left: 50%;
                transform: translateX(-50%);
                width: 70%;
            }   
        }   
    }
}

@media (max-width: 675px) {
    .projetos {
        padding: 50px 12px 50px;

            & h2 {
                margin-bottom: 32px;
            }

        & .pjt-card {

            & .mockup {
                display: none;
            }   
        }   
    }
}



@media (max-width: 390px) {
    .projetos {

        & .pjt-card {
            padding: 25px 25px 30px; 
        }   
    }
}

