body.light {
    
    .sobre {

        & .sobre-content {

            & .sobre-buttons {

                & a:nth-child(2):hover {
                    color: var(--onyx);
                }
            }
        }
    }
}

.sobre {
    height: 100vh;
    display: flex;
    padding: 100px 48px;
    align-items: center;
    

    & .sobre-content {
        display: flex;
        flex-direction: column;
        gap: 32px;
        
        & h1 {
            font: var(--h1);
        }

        & p {
            font: var(--tM1);
        }

        & .sobre-buttons {
            display: flex;
            gap: 16px;

            & a {
                padding: 16px 32px;
                justify-content: center;
                align-items: center;
                font: var(--tM2);
                transition: scale 0.3s ease, color 0.3s ease;
                
            }

            & a:nth-child(1) {

                &:hover {
                    scale: 1.02;
                }
            }

            & a:nth-child(2):hover {
                color: white;
            }
        }
    }
}

@media (max-width: 1128px) {
    .sobre {
        flex-direction: column-reverse;
    }

}
